mixin text(name, placeholder, value)
	-if (value)
		input(type="text" name="#{name}" placeholder="#{placeholder}" value="#{value}")
	-else
		input(type="text" name="#{name}" placeholder="#{placeholder}")

mixin textArea(name, placeholder, autofocus, aClass)
	- if (autofocus)
		textarea(name="#{name}" placeholder="#{placeholder}" autofocus="true" class="#{aClass}")
	- else
		textarea(name="#{name}" placeholder="#{placeholder}" class="#{aClass}")

mixin password(name, value, title)
	input(type="password" name="#{name}" placeholder="#{value}")

mixin submit(value)
	input(type="submit" value="#{value}")

mixin checkbox(name, value, label)
	span.checkbox
		input(type="checkbox" name="#{name}" value="#{value}")
		span= label