include formHelpers

mixin postView(post)
	div(class='postContainer' id=post._id)
		- if (post.hidden)
			div(class='post hidden')
				.postInner
					span.body This post has been hidden due to negative user feedback.
					.dateContainer
						span.postedAt= post.readableCreatedDate
		-else
			- if (post.isTheirs)
				- if (post.creatorName)
					div(class='post mine')
						.postInner
							span.body= post.body
							.dateContainer
								span.postedAt= post.readableCreatedDate
				- else
					div(class='post mine anonymous')
						.postInner
							span.body= post.body
							.dateContainer
								span.postedAt= post.readableCreatedDate
			- else
				- if (post.creatorName)
					div(class='post other')
						.postInner
							span.author= post.creatorName
							span.body= post.body
							.dateContainer
								span.postedAt= post.readableCreatedDate
							.warnArea
								a(href='/post/#{post.pageID}/#{post._id}/warn' class='warnLink') warn
								span.warnCount= post.warnCount
				- else
					div(class='post other anonymous')
						.postInner
							span.body= post.body
							.dateContainer
								span.postedAt= post.readableCreatedDate
							.warnArea
								a(href='/post/#{post.pageID}/#{post._id}/warn' class='warnLink') warn
								span.warnCount= post.warnCount

mixin postPageView(postPage)
	each post in postPage.posts
		mixin postView(post)

mixin postForm(slug, anonymous)
	-if (anonymous)
		.informText posts ARE anonymous
	-else
		.informText posts are NOT anonymous
	form(name='post', action='/topic/#{slug}/post', method="post")
		mixin textArea('body', 'Reply', true, 'postForm')
	.help
		span(class='subtext') Press the enter key to submit.
		span(class='subtext') Pressing shift+enter will make a new line without submitting.