include formHelpers

mixin postView(post)
	.postContainer
		- if (post.isTheirs)
			div(class='post mine')
				.postInner
					span.body= post.body
					.dateContainer
						span.postedAt= post.readableCreatedDate
		- else
			div(class='post other')
				.postInner
					- if (post.creatorName)
						span.author= post.creatorName
					span.body= post.body
					.dateContainer
						span.postedAt= post.readableCreatedDate
					.interactions
						a(href='/post/#{post.pageID}/#{post._id}/warn' class='warnLink') Warn Post

mixin postPageView(postPage)
	each post in postPage.posts
		mixin postView(post)

mixin postForm(slug)
	form(name='post', action='/topic/#{slug}/post', method="post")
		mixin textArea('body', 'Reply', true, 'postForm')