include formHelpers

mixin postView(post)
	div.postContainer
		- if (post.isTheirs)
			div(class='post mine')
				div.postInner
					span.body= post.body
					div.dateContainer
						span.postedAt= post.readableCreatedDate
		- else
			div(class='post other')
				div.postInner
					- if (post.creatorName)
						span.author= post.creatorName
					span.body= post.body
					div.dateContainer
						span.postedAt= post.readableCreatedDate

mixin postPageView(postPage)
	each post in postPage.posts
		mixin postView(post)

mixin postForm(slug)
	form(name='post', action='/topic/#{slug}/post', method="post")
		mixin textArea('body', 'Reply', true, 'postForm')