mixin topicPreview(topic)
	div(class="topicPreview" id="preview_#{topic.slug}")
		.name= topic.name
		- if (topic.anonymous)
			.anon Anonymous
		- else
			.notAnon Not anonymous
		.popInfos
			span.viewCount= topic.viewCount
			- if (topic.newPosts)
				span.newPosts New posts!
		.createdAt= topic.readableCreatedDate
		a(href='/topic/show/#{topic.slug}', class='topicViewLink') click to open

mixin topicPreviews(topics)
	each topic in topics
		mixin topicPreview(topic)

mixin topicHeader(topic)
	.topicHeader
		.headerContent
			.name= topic.name
			.createdAt Created: #{topic.readableCreatedDate}
			- if (topic.anonymous)
				.anonymous Anonymous
			- if (topic.description)
				.description= topic.description
			.currentViewers
				span.label Users Viewing:
				span.count
			.alerts
				.added
				.warns
		div(class='moreInfo openable arrowsUp') discussion info