mixin topicPreview(topic)
	.topicPreview
		.name= topic.name
		.createdAt= topic.readableCreatedDate
		a(href='/topic/show/#{topic.slug}', class='topicViewLink') Open Topic

mixin topicPreviews(topics)
	div(class="topicPreviewHolder infiniteScroll")
		each topic in topics
			mixin topicPreview(topic)

mixin topicHeader(topic)
	.topicHeader
		.name= topic.name
		.createdAt Created #{topic.readableCreatedDate}
		- if (topic.owned)
			.owned
				span.label Created By:
				span.ownerName= topic.creatorName
		- if (topic.anonymous)
			.anonymous Anonymous
		- if (topic.description)
			.description= topic.description
		.currentViewers
			span.label Users Viewing:
			span.count
		.alerts
			.added
			.warns