include formHelpers

mixin displayUser(user)
	.userInfo
		.name
			.firstName
				span.label First Name:
				span.data= user.name.first
			.lastName
				span.label Last Name:
				span.data= user.name.last
			.displayName
				span.label Display Name:
				span.data= user.displayName
		.email
			span.label Email:
			span.data= user.email

mixin editForm(user)
	.info Set your username to be used in place of your name on the site. To maintain transparency, any user will still be able to hover over your user name in non-anonymous discussions to see your first and last names.
	form(name='editPseudo', action='/user/#{user._id}/editPseudo', method="post")
		-if (user.name.pseudo)
			mixin text('pseudo', user.name.pseudo, user.name.pseudo)
		-else
			mixin text('pseudo', '')
		mixin submit('Save Change')

mixin editLink(user)
	a(href='/user/#{user._id}/edit' class='editLink') Edit User