include formHelpers

mixin warnForm(post)
	.warnContainer
		.creator
			-if (post.creatorName)
				span.postBy= post.creatorName
			- else
				span.postBy An anonymous user
			span.additional said:
		.body
			span.content= post.body
		form(name='warn', action='/post/#{post.pageID}/#{post._id}/warn', method='post')
			.info This post contains one or more of:
			.types
				mixin checkbox('types', 'personalAttack', 'A personal attack')
				mixin checkbox('types', 'discriminatory', 'A discriminatory statement')
				mixin checkbox('types', 'disclosure', 'A disclosure of secure or private information')
				span.other
					mixin text('other', 'other')
			.description
				mixin textArea('description', 'Your reasoning (optional)', false, 'descriptionField')
			.submit
				mixin submit('Send Warning')

mixin warn(warn, groupID, post)
	.warn
		.typesArea
			span.question Do you agree that this post is:
			span.types= warn.prettyTypes
			span.mark ?
		.description
			.reasoning Reason given for warning:
			.descripContent
				span "
				span= warn.description
				span "
		.links
			a(class='deny', href='/warnGroup/#{groupID}/#{warn._id}/#{post.pageID}/deny') No
			a(class='confirm', href='/warnGroup/#{groupID}/#{warn._id}/#{post.pageID}/confirm') Yes

mixin warnPreview(warn)
	.warnPreview
		.typesArea
			span.question You have identified this post as:
			span.types= warn.prettyTypes
		.description= warn.description
		.info Other users will have the option to confirm or deny this warning.

mixin warnConfirms(post, warnGroup, userID)
	.warnContainer
		.creator
			-if (post.creatorName)
				span.postBy= post.creatorName
			- else
				span.postBy An anonymous user
			span.additional said:
		.body
			span.content= post.body
		each warn in warnGroup.warns
			-if (warn.creatorID == userID || warn.confirmedByUser(userID))
				mixin warnPreview(warn)
			-else
				mixin warn(warn, warnGroup._id, post)
		.newWarning
			a(href='/post/#{post.pageID}/#{post._id}/warn/form' class='warnLink') Create a different warning on this post...
